.footer {
  padding: 40px 60px 30px;
  text-align: left;
  background: #222;
  position: relative;
  z-index: 10;
  bottom: 0 !important;
  left: 0;
  width: 100%;
}
.footer p {
  font-size: 11px;
  color: #a7a7a7;
  font-weight: 300;
}
.footer a.terms {
  padding: 0 5px;
}
.footer p a {
  font-size: 11px;
  color: #f04e37 !important;
  border-bottom: 0 !important;
  text-decoration: underline;
  transition: all 0.6s ease 0s;
}
.footer a i {
  color: #fff;
  transition: all 0.6s ease 0s;
  padding-left: 20px;
  font-size: 12px;
}
.footer a i:hover {
  color: #f04e37 !important;
}
